.page-map {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

.page-map aside {
    background-color: #09C3C9;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.page-map aside img {
    margin: 30px 0;
    width: 70px;
}

.page-map aside h1 {
    font-size: 40px;
    line-height: 48px;
}

.page-map aside p, a {
    font-size: 20px;
    line-height: 28px;
}

.page-map aside footer {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-map aside footer a {
    text-decoration: none;
    background-color: #FFD666;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 300ms;
}

.page-map aside footer a:hover {
    background-color: #f1c64f;
}

.page-map aside footer a i {
    font-size: 30px;
    color: #09a3c9;
}

.page-map .leaflet-container {
    z-index: 5;
}

.create-orphanage {
    background-color: #09C3C9;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    right: 80px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 300ms;
    z-index: 10;
}

.create-orphanage:hover {
    background-color: #28acb1;
}

.create-orphanage i {
    color: white;
}

.page-map .map-popup .leaflet-popup-content-wrapper {
    color: #09C3C9;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-map .map-popup .leaflet-popup-content-wrapper a {
    background-color: #09C3C9;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    margin-left: 15px;
    text-decoration: none;
}

.page-map .map-popup .leaflet-popup-content-wrapper a i {
    font-size: 22px;
    color: #F0F0F0;
}